

<div class="mb-4">
    <select id="workplaceSelector" class="form-select mb-2">
        <option value="">Select Workplace</option>
    </select>
    <a href="#" class="btn btn-primary btn-sm w-100" data-bs-toggle="modal" data-bs-target="#createWorkplaceModal">
        <i class="bi bi-plus-lg"></i> New Workplace
    </a>
</div>
